<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <node pkg="image_segmentation_node" type="image_segmentation" respawn="false" name="image_segmentation_node" output="screen">
        <rosparam file="$(find image_segmentation_node)/config/parameters.yaml" command="load" />
    </node>
</launch>
